.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 756px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 32px 0;
}

.u-section-1 .u-shape-1 {
  width: 494px;
  height: 476px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  
  margin: 10px auto 0 21px;
}

.u-section-1 .u-image-1 {
  width: 499px;
  height: 465px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -466px auto 0 50px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 42px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 825px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-list-1 {
  width: 540px;
  margin: 116px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 554px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 7px 0;
}

.u-section-1 .u-icon-1 {
  width: 61px;
  height: 61px;
  background-image: linear-gradient(#ff705a, #de91f5);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.61;
  
  margin: 12px auto 0 13px;
  padding: 12px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -61px auto 0;
}

.u-section-1 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 5px 67px 0 104px;
}

.u-section-1 .u-list-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 7px 0;
}

.u-section-1 .u-icon-2 {
  width: 61px;
  height: 61px;
  background-image: linear-gradient(#ff705a, #de91f5);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.61;
  
  margin: 12px auto 0 13px;
  padding: 12px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -61px auto 0;
}

.u-section-1 .u-text-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 5px 67px 0 104px;
}

.u-section-1 .u-list-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 7px 0;
}

.u-section-1 .u-icon-3 {
  width: 61px;
  height: 61px;
  background-image: linear-gradient(#ff705a, #de91f5);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.61;
  
  margin: 12px auto 0 13px;
  padding: 12px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -61px auto 0;
}

.u-section-1 .u-text-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 5px 67px 0 104px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 470px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 438px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 798px;
  }

  .u-section-1 .u-list-1 {
    width: 470px;
    margin-top: 0;
    margin-right: -20px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 571px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-icon-1 {
    width: 47px;
    height: 47px;
    margin-top: 7px;
    margin-left: 8px;
    padding: 15px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -35px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 32px;
    margin-left: 69px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-icon-2 {
    width: 47px;
    height: 47px;
    margin-top: 7px;
    margin-left: 8px;
    padding: 15px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -35px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 32px;
    margin-left: 69px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-icon-3 {
    width: 47px;
    height: 47px;
    margin-top: 7px;
    margin-left: 8px;
    padding: 15px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -35px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 32px;
    margin-left: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-shape-1 {
    width: 360px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 335px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 756px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-list-1 {
    width: 360px;
    margin-top: 49px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 663px;
  }

  .u-section-1 .u-icon-1 {
    width: 53px;
    height: 53px;
    margin-top: 13px;
    margin-left: 10px;
    padding: 16px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -32px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-icon-2 {
    width: 53px;
    height: 53px;
    margin-top: 13px;
    margin-left: 10px;
    padding: 16px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -32px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-icon-3 {
    width: 53px;
    height: 53px;
    margin-top: 13px;
    margin-left: 10px;
    padding: 16px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -32px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 725px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 0;
    margin-left: 78px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -447px;
    margin-left: 78px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 11px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 737px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 20px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1529px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 593px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 476px;
    margin-top: -448px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -22px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 735px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 60px;
    margin-bottom: -46px;
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 609px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 30px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 30px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 30px;
    margin-left: 13px;
    margin-right: 13px;
  }
}