@import url("https://rsms.me/inter/inter.css");
html {
    font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}

body {
    background-color: #e1e1e1;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cccccc;
}

.brand-title {
    padding: 0.5rem 1rem;
    height: 4rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    font-size: large;
    font-weight: 700;
    color: #141414;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #bfbfbf;
}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #141414;
    border-radius: 10px;
}

@media (max-width: 500px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.background-image {
    background-image: url("./assets/background_cropped.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
}

.main-header {
    height: 50%;
    color: #141414;

    font-size: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
